<app-header></app-header>
<br>
   <div class="main-col">
      <div class="main-col-inner">
        <div id="serr"></div>
        <div class="con-header">
          <div class="con-h">
            <h3 class="con-header-title">
             Conversations - Manage Conversations
            </h3>
          </div>
        </div>
        <div class="group-content">
          <div class="edit-heading">
            <h6>Manage-Conversations</h6>
          </div>
        </div>
        <div class="grid">
          <table cellspacing="0">
            <thead>
              <tr>
                <th class="id">ID</th>
                <th class="name">Sender</th>
                <th class="pcat">Receiver</th>
                <th class="message">Message</th>
                <th clas="action">Action</th>
              </tr>
            </thead>
            <tbody *ngFor="let c of convs let i = index">
              <tr class="s">
                <td>
                  {{i+1}}
                </td>
                <td>
              {{c.sender}}
                </td>
                <td>
                  {{c.receiver}}
                </td>
                <td>
                  {{c.msg}}
                </td>
                <td><a (click)="delete_this(c)"> <b id="del">Delete</b> </a></td>

              </tr>
            </tbody>
  
          </table>
        </div>
  
      </div>
    </div>