.main-container{
  padding: 30px 0;
}
.fav-core{
  margin-top: 30px;
  height: 180px;
  width: 760px;
  background-color: #F5F5F5;
  border-radius: 4px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding-left: 30px;
  padding-right: 30px;
  box-sizing: border-box;
}
.no-fav-title{
  color: #545454;
  font-size: 130%;
  font-weight: var(--font-weight-mid);
  margin-bottom: 10px;
}
.no-fav-p{
  line-height: 1.6;
  font-size: 95%;
  color: #888;
  text-align: left;
}
.no-fav-p a{
  font-size: 95%;
  text-decoration: none;
}