<div class="set-main-container">
  <div class="title-top">
    <div class="set-w-control">
      <h2 class="set-titles">
        Identity verification
      </h2>
    </div>
  </div>
  <div class="set-core">
    <div class="set-w-control">
      <p class="stat-title">
        <span class="strong">Verification Status:</span> Not verified
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia voluptate perspiciatis impedit, eum, neque suscipit molestiae ipsum tempore sit earum assumenda est at deserunt unde sapiente? Et quisquam quasi veniam!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit dignissimos necessitatibus ipsa? Ea sequi cupiditate fugit possimus itaque aliquam voluptatem. Consequatur deserunt corporis ullam culpa quo labore atque eveniet voluptates.
      </p>
    </div>
  </div>
</div>
