<div class="set-main-container">
  <div class="title-top">
    <div class="set-w-control">
      <h2 class="set-titles">
        Password
      </h2>
    </div>
  </div>
  <div class="set-core">
    <div class="set-w-control">
      <div class="set-w-title">
        <h4>Change Password</h4>
      </div>
      <br>
      <div class="set-w-form">
        <!-- <form class="set-w-form-group"> -->
        <div class="set-w-form-group" (keyup.enter)="update_pass($event)">
          <div class="set-w-Current ">
            <label for="current" class="current">Current Password</label>
            <br>

            <input type="text" id="fname" name="fname" class="current-add" placeholder=" Enter Current password" [(ngModel)]="currentPassword">
          </div>
          <br>
          <div class="set-w-Current ">
            <label for="current" class="current">New Password</label>
            <br>

            <input type="text" id="fname" name="fname" class="current-add" placeholder=" Enter Current password" [(ngModel)]="newPassword">
          </div>
          <br>
          <div class="set-w-Current ">
            <label for="current" class="current">Conform Password</label>
            <br>

            <input type="text" id="fname" name="fname" class="current-add" placeholder=" Re-type New password" [(ngModel)]="conformPassword">
          </div>
        </div>


        <!-- </form><br> -->

        <hr>
        <div id="err"></div>
        <button type="button" class="btn btn-save" (click)="changePassword()">Save setting</button>

      </div>
    </div>
  </div>
</div>