.sec{
    height: 100vh;
}
.section-home{
    margin-bottom: 20px;
}
.home{
    margin-top: 30px;
    margin-left: 25px;
    border-bottom: 4px solid #ddd;
    margin-bottom: 20px;
    width: 95%;
}
.home{
    color: red;
    /* margin-bottom: px; */
}
.section-s{
    border: 1px solid #ddd;
    margin-left: 20px;
    width:95%;
    height: auto;
    overflow: hidden;
}
.section-s-title{
    background: #E7EFEF;
    padding: 10px;
    
}
.section-table{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding: 10px 20px 10px 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    
    
}
.section-table-stat{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}
table {
font-family: arial, sans-serif;
border-collapse: collapse;
width: 100%;
}
.nobr{
    padding: 2px 2px 2px 10px;
}

td{
border: 1px solid #dddddd;
text-align: left;

}
.first{
    padding:5px;
}
.last{
    padding: 2px 2px 2px 25px;
}
 th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 2px;
 }
.section-gig{
   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.section-gig-stat{
    margin-top: 20px;
}
.section-gig-other{
      display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.section-gig-stat-other{
  margin-top: 15px;
    margin-left: 20px;
}
.section-gig-side{
     display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.edit-heading {
background: #6f8992;
padding: 15px 0px;

}
.edit-heading h4 {
float: left;
padding: 0;
background: none;
margin: 0;
color: #fff;
font-size: 1em;
margin-top: -10px;
min-height: 0;
margin-left: 10px;
}
.fieldset {
border: 1px solid #d6d6d6;
background: #fafafa;
}
.grid {
    position: relative;
}
.grid table {
    width: 350px;
}

.grid tr.headings th {
border-width: 1px;
border-color: #f9f9f9 #d1cfcf #f9f9f9 #f9f9f9;
border-style: solid;

    
}
.grid tr.headings th .last{
    margin-left: 20px;
}
.grid table td {
border-width: 0 1px 1px 0;
border-color: #dadfe0;
border-style: solid;
font-size: 14px;
}
