<nav class="main-nav">
  <div class="width-control">
    <ul>
      <li routerLink="/dashboard">
        Dashboard
      </li>
      <li>
        <div class="dropdown">
          <button class="dropbtn">Buying
            <i class="fas fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a routerLink="/manage-orders">Manage Orders</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
          </div>
        </div>
      </li>
      <li>
        <div class="dropdown">
          <button class="dropbtn">Selling
            <i class="fas fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a routerLink="/manage-sales">Manage Sales</a>
            <a href="#">Link 2</a>
            <a routerLink="/my-gigs">My Gig's</a>
          </div>
        </div>
      </li>
      <li>
        <div class="dropdown">
          <button class="dropbtn">Requests
            <i class="fas fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a >Custom Orders</a>
            <!-- <a href="#">Link 2</a>
            <a href="#">Link 3</a> -->
          </div>
        </div>
      </li>
      <li>
        Contacts
      </li>
      <li routerLink="/inbox">
        Inbox
      </li>
      <li routerLink="/settings/profile">
        Settings
      </li>
    </ul>
  </div>
</nav>