<app-sub-header></app-sub-header>
<div class="main-container">
  <div class="width-control">
    <h2 class="u-sub-heads">
      Payments
    </h2>
    <div class="p-core">
      <div class="m-r-top-div">
        <div class="m-r-t-div">
          <div class="m-r-t-top">
            <i class="fas fa-gift"></i>
          </div>
          <div class="m-r-t-btm">
            <div class="m-r-t-b-left">
              <h5>
                8.530
              </h5>
            </div>
            <div class="m-r-t-b-right">
              <h5 class="m-r-t-b-t">
                Products Sold
              </h5>
              <h5 class="m-r-t-b-c">
                In all Time
              </h5>
            </div>
          </div>
        </div>
        <div class="m-r-t-div">
          <div class="m-r-t-top">
            <i class="fas fa-gift"></i>
          </div>
          <div class="m-r-t-btm">
            <div class="m-r-t-b-left">
              <h5>
                234
              </h5>
            </div>
            <div class="m-r-t-b-right">
              <h5 class="m-r-t-b-t">
                Products Sold
              </h5>
              <h5 class="m-r-t-b-c">
                In this Month
              </h5>
            </div>
          </div>
        </div>
  
        <div class="m-r-t-div">
          <div class="m-r-t-top">
            <i class="fas fa-tag"></i>
          </div>
          <div class="m-r-t-btm">
            <div class="m-r-t-b-left">
              <h5>
                $12.450
              </h5>
            </div>
            <div class="m-r-t-b-right">
              <h5 class="m-r-t-b-t">
                Total Sales
              </h5>
              <h5 class="m-r-t-b-c">
                In all Time
              </h5>
            </div>
          </div>
        </div>
  
        <div class="m-r-t-div">
          <div class="m-r-t-top">
            <i class="fas fa-shopping-bag"></i>
          </div>
          <div class="m-r-t-btm">
            <div class="m-r-t-b-left">
              <h5>
                $10.450
              </h5>
            </div>
            <div class="m-r-t-b-right">
              <h5 class="m-r-t-b-t">
                Total Earnings
              </h5>
              <h5 class="m-r-t-b-c">
                In all Time
              </h5>
            </div>
          </div>
        </div>
  
      </div>
    </div>

    <div class="p-corp-show"> 
      <div class="m-r-top-show">
        <h5 class="m-r-top-show-title">
          SHOW
        </h5>
        <div class="m-r-top-show-select">
            <select class="m-r-show-sel">
                <option value="All">All</option>
               </select>
          </div>
          <h5 class="m-r-top-show-tran">
             TRANSACTIONS
            </h5>

      </div>
      </div>

    <div class="m-t-box-show">
      <div class="m-t-top-box">
        <div class="m-t-t-b-c">
        
         <h3 class="m-t-b-title-date">
          DATE
         </h3>
         <h3 class="m-t-b-title-for">
         FOR
         </h3>
         <h3 class="m-t-b-title-amou">
          AMOUNT
         </h3>

      </div>
      <div class="m-t-main-con">
        <h5 class="m-t-m-c-d-n">
          Nov 17, 15
        </h5>
        <h5 class="m-t-m-c-d">
          Pyment for Gig Purches (view order)
        </h5>
        <h5 class="m-t-m-c-d-p">
          -$5.00
        </h5>
      </div>
      <div class="m-t-main-con">
          <h5 class="m-t-m-c-d-n">
            Nov 17, 15
          </h5>
          <h5 class="m-t-m-c-d">
            Pyment for Gig Purches (view order)
          </h5>
          <h5 class="m-t-m-c-d-p">
            -$5.00
          </h5>
       </div>
        <div class="m-t-main-con">
          <h5 class="m-t-m-c-d-n">
            Nov 17, 15
          </h5>
          <h5 class="m-t-m-c-d">
            Pyment for Gig Purches (view order)
          </h5>
          <h5 class="m-t-m-c-d-p">
            -$5.00
          </h5>
        </div>
        <div class="m-t-main-con">
            <h5 class="m-t-m-c-d-n">
              Nov 17, 15
            </h5>
            <h5 class="m-t-m-c-d">
              Pyment for Gig Purches (view order)
            </h5>
            <h5 class="m-t-m-c-d-p">
              -$5.00
            </h5>
          </div>
          <div class="m-t-main-con">
              <h5 class="m-t-m-c-d-n">
                Nov 17, 15
              </h5>
              <h5 class="m-t-m-c-d">
                Pyment for Gig Purches (view order)
              </h5>
              <h5 class="m-t-m-c-d-p">
                -$5.00
              </h5>
            </div>
            <div class="m-t-main-con">
                <h5 class="m-t-m-c-d-n">
                  Nov 17, 15
                </h5>
                <h5 class="m-t-m-c-d">
                  Pyment for Gig Purches (view order)
                </h5>
                <h5 class="m-t-m-c-d-p">
                  -$5.00
                </h5>
              </div>
              <div class="m-t-main-con">
          <h5 class="m-t-m-c-d-n">
            Nov 17, 15
          </h5>
          <h5 class="m-t-m-c-d">
            Pyment for Gig Purches (view order)
          </h5>
          <h5 class="m-t-m-c-d-p">
            -$5.00
          </h5>
        </div>
        
        
        

       
      </div>
      </div>

  </div>
</div>