<app-sub-header></app-sub-header>
<div class="main-container">
  <div class="o-d-top">
    <div class="width-control">
      <h2 class="o-d-title">
        Design Professional And Stunnig logo
      </h2>

      <div class="o-d-dets-div">
        <ul>
          <li class="od-det">
            <span class="od-key">
              Buyer :
            </span>
            <span class="od-val od-val-name">
              Kaylee_mack
            </span> 
          </li>
          <li class="od-det">
            <span class="od-key">
              Order :
            </span>
            <span class="od-val">
              #FA4470576F66
            </span> 
          </li>
          <li class="od-det">
            <span class="od-key">
              August 25, 2017
            </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="width-control">
    <div class="od-core">
      <div class="od-left">
        <div class="od-l-top">
          <div class="od-lt-left">
            <div class="od-lt-l-l">
               <div class="od-lt-l-img">
                 <img src="../../assets/img/wwrong.jpg" alt="">
               </div> 
            </div>
            <div class="od-lt-l-r">
              <h3 class="od-lt-name">
                Designdesk.S
              </h3>
              <button class="chat-btn">
                <span class="chat-status"></span>
                Chat
              </button>
            </div>
          </div>
          <div class="od-lt-right">
            <div class="stat-div-core">
              <div class="stat-div">
                <div class="stat-out stat-one">
                  <div class="stat-in">

                  </div>
                </div>
                <div class="stat-name">
                  STARTED
                </div>
              </div>
              
              <div class="stat-div">
                <div class="stat-out stat-two">
                  <div class="stat-in">                    
                  </div>
                </div>
                <div class="stat-name">
                  DELIVERED
                </div>
              </div>

              <div class="stat-div">
                <div class="stat-out stat-three">
                  <div class="stat-in">

                  </div>
                </div>
                <div class="stat-name">
                  COMPLETED
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="od-req">
          <div class="od-req-core">
            <h4 class="od-r-head">
              Requirements to start work
            </h4>
            <p class="od-r-t-p">
              Hello,
            </p>
            <p class="od-r-t-p">
              I am Perce Thorne. I have experience in customizing  different logos. If you need professional logo customization service, I can do it perfectly.
            </p>
            <div class="od-req-btm-div">
              <div class="od-req-btm-left">
                <div class="od-req-atch-div">
                  <div class="od-r-at-head">
                    ATTACHMENTS
                  </div>
                  <p>
                    <span class="od-dw-ico">
                      <i class="fas fa-arrow-circle-down"></i>
                    </span>
                    attachment.png (100KB)
                  </p>
                </div>
              </div>
              <div class="od-req-btm-right">
                <button class="od-start-btn">START</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="od-right">
        <div class="od-right-core">
          
          <div class="od-right-div odr-price-div">
            <div class="odrt-top">
              <div class="od-r-left">
                <h4>PRICE</h4>
              </div>
              <div class="od-r-right">
                <div class="price-block">
                  <span class="dlr-span">
                    $
                  </span> 500
                </div>
              </div>
            </div>
            <div class="odrt-btm">
              <div class="od-r-left">
                <h6>
                  <span class="odrl-ico">
                    <i class="fas fa-clock"></i> &nbsp; Time of Delivery
                  </span>
                </h6>
              </div>
              <div class="od-r-right">
                1 day(s)
              </div>
            </div>
          </div>

          <div class="od-right-div odr-process-div">
            <div class="od-r-left">
              <h3>PROCESSING FEE</h3>
            </div>
            <div class="od-r-right">
              %
            </div>
          </div>

          <div class="od-right-div odr-ext-div">
            <div class="od-r-left">
              EXTRA
              <p>
                There are no extra services
              </p>
            </div>
            <div class="od-r-right">

            </div>
          </div>

          <div class="od-right-div odr-total-div">
            <div class="od-r-left">
              TOTAL
            </div>
            <div class="od-r-right">
              <div class="price-block">
                <span class="dlr-span">
                  $
                </span> 500
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>