<app-header></app-header>
<br>
<!-- <div class="container">
  <br>
  <div id="heading">
    Gigs

  </div>
<table class="table table-hover">
    <thead>
      <tr>
        
        <th>Title</th>
        <th>Poster</th>
        <th>Date Created</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody id="content">
      <tr *ngFor="let g of gigs">
        <td>{{g.title}}</td>
        <td>{{g.members.name}}</td>
        <td>{{g.formatted_date}}</td>
        <td><a routerLink="/edit-gig/{{g._id}}"> <b id="edit">Edit</b> </a> | <a (click)="delete_this(g)"> <b id="del">Delete</b> </a></td>
      </tr>
    </tbody>
  </table>
</div> -->
<div class="main-col">
    <div class="main-col-inner">
      <div id="serr"></div>
      <div class="con-header">
        <div class="con-h">
          <h3 class="con-header-title">
           Gigs - Manage-Gigs
          </h3>
        </div>
      </div>
      <div class="group-content">
        <div class="edit-heading">
          <h6>Manage-Gigs</h6>
        </div>
      </div>
      <div class="grid">
        <table cellspacing="0">
          <thead>
            <tr>
              <th class="id">ID</th>
              <th class="name">Title</th>
              <th class="pcat">Poster</th>
              <th class="date">Date Created</th>
              <th clas="action">Action</th>
            </tr>
          </thead>
          <tbody *ngFor="let g of gigs let i = index">
            <tr class="s">
              <td>
                {{i+1}}
              </td>
              <td>
            {{g.title}}
              </td>
              <td>
                {{g.members.name}}
              </td>
              <td>
                {{g.formatted_date}}
              </td>
                  <td><a routerLink="/edit-gig/{{g._id}}"> <b id="edit">Edit</b></a> | <a (click)="delete_this(g)"> <b id="del">Delete</b> </a></td>
            </tr>
          </tbody>

        </table>
      </div>

    </div>
  </div>