<app-sub-header></app-sub-header>
<div class="main-container">
    <div class="width-control">
        <h2 class="u-sub-heads">
            Withdrawals
        </h2>
        <div class="p-core">
            <div class="m-r-top-div">
                <div class="m-r-t-div">
                    <div class="m-r-t-top">
                        <i class="fas fa-gift"></i>
                    </div>
                    <div class="m-r-t-btm">
                        <div class="m-r-t-b-left">
                            <h5>
                                8.530
                            </h5>
                        </div>
                        <div class="m-r-t-b-right">
                            <h5 class="m-r-t-b-t">
                                Products Sold
                            </h5>
                            <h5 class="m-r-t-b-c">
                                In all Time
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="m-r-t-div">
                    <div class="m-r-t-top">
                        <i class="fas fa-gift"></i>
                    </div>
                    <div class="m-r-t-btm">
                        <div class="m-r-t-b-left">
                            <h5>
                                234
                            </h5>
                        </div>
                        <div class="m-r-t-b-right">
                            <h5 class="m-r-t-b-t">
                                Products Sold
                            </h5>
                            <h5 class="m-r-t-b-c">
                                In this Month
                            </h5>
                        </div>
                    </div>
                </div>

                <div class="m-r-t-div">
                    <div class="m-r-t-top">
                        <i class="fas fa-tag"></i>
                    </div>
                    <div class="m-r-t-btm">
                        <div class="m-r-t-b-left">
                            <h5>
                                $12.450
                            </h5>
                        </div>
                        <div class="m-r-t-b-right">
                            <h5 class="m-r-t-b-t">
                                Total Sales
                            </h5>
                            <h5 class="m-r-t-b-c">
                                In all Time
                            </h5>
                        </div>
                    </div>
                </div>

                <div class="m-r-t-div">
                    <div class="m-r-t-top">
                        <i class="fas fa-shopping-bag"></i>
                    </div>
                    <div class="m-r-t-btm">
                        <div class="m-r-t-b-left">
                            <h5>
                                $10.450
                            </h5>
                        </div>
                        <div class="m-r-t-b-right">
                            <h5 class="m-r-t-b-t">
                                Total Earnings
                            </h5>
                            <h5 class="m-r-t-b-c">
                                In all Time
                            </h5>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="w-l-e-box-1">
            <div class="w-l-e-main">
                <div class="w-l-e-with">
                    <div class="w-lef-e-with">
                        <h3 class="w-lef-e-with-title">
                            Withdraw Earninigs
                        </h3>
                        <div class="w-left-wiht-am">
                            <h6 class="w-left-wiht-am-title">
                                Amount to Withdraw ($745.00 Maximum)*
                            </h6>
                            <div class="w-l-w-am-another">
                                <h6 class="w-l-w-am-con">
                                    Enter the amount you want to withdraw
                                </h6>
                            </div>
                        </div>
                        <div class="w-l-w-m">
                            <div class="w-l-w-m-method">
                                <h5 class="w-l-method-t">
                                    Choose your Withdrawal Method*
                                </h5>
                            </div>
                            <div class="w-l-w-m-method">
                                <h5 class="w-l-w-m-pay">
                                    .Paypal
                                </h5>
                            </div>
                            <div class="w-l-w-m-method">
                                <h5 class="w-l-w-m-pay">
                                    Skrill
                                </h5>
                            </div>
                        </div>
                        <div class="w-l-m-acc">
                            <div class="w-l-m-acc-title">
                                <h2 class="w-l-m-acc-t">
                                    Your paypal Account*
                                </h2>
                                <div class="w-l-m-acc-t-h">
                                    Enter your paypal account here...
                                </div>
                            </div>
                        </div>
                        <div class="w-l-m-pas">
                            <div class="w-l-m-pas-title">
                                <h2 class="w-l-m-pas-t">
                                    Confirm your Password*
                                </h2>
                                <div class="w-l-m-pas-t-h">
                                    Confirm your password for security...
                                </div>
                            </div>
                        </div>
                        <div class="w-l-m-but">
                            <div class="w-l-m-but-title">
                                <h2 class="w-l-m-but-t">
                                    Request
                                    <span class="w-l-m-but-t-w">
                                         Wirhdrawal
                                        </span>
                                </h2>
                            </div>
                        </div>
                        <div class="w-l-m-but-t-h">
                            You need to be verified and have at least $10 to request a payout.
                        </div>


                    </div>
                    <div class="w-l-with-h">
                        <div class="w-l-with-his">
                            <div class="w-l-with-title">
                                <h1 class="w-l-with-his-title">
                                    Withdrawal History
                                </h1>
                            </div>
                        </div>
                        <div class="w-l-with-left-con">
                            <div class="w-l-with-left-con-ac">
                                <div class="w-l-with-left-con-m">
                                    <h5 class="w-l-with-left-con-a">
                                        Mar 27th,2104
                                    </h5>
                                    <h5 class="w-l-with-left-con-a">
                                        jhonny_fisher@paypal.com
                                    </h5>
                                    <h5 class="w-l-with-left-con-a">
                                        $537,20
                                    </h5>
                                    <h5 class="w-l-with-left-con-a">
                                        Pending
                                    </h5>
                                </div>
                                <div class="w-l-with-left-con-m">
                                    <h5 class="w-l-with-left-con-a">
                                        Mar 27th,2104
                                    </h5>
                                    <h5 class="w-l-with-left-con-a">
                                        jhonny_fisher@paypal.com
                                    </h5>
                                    <h5 class="w-l-with-left-con-a">
                                        $537,20
                                    </h5>
                                    <h5 class="w-l-with-left-con-a">
                                        Pending
                                    </h5>
                                </div>
                                <div class="w-l-with-left-con-m">
                                    <h5 class="w-l-with-left-con-a">
                                        Mar 27th,2104
                                    </h5>
                                    <h5 class="w-l-with-left-con-a">
                                        jhonny_fisher@paypal.com
                                    </h5>
                                    <h5 class="w-l-with-left-con-a">
                                        $537,20
                                    </h5>
                                    <h5 class="w-l-with-left-con-a">
                                        Pending
                                    </h5>
                                </div>
                                <div class="w-l-with-left-con-m">
                                    <h5 class="w-l-with-left-con-a">
                                        Mar 27th,2104
                                    </h5>
                                    <h5 class="w-l-with-left-con-a">
                                        jhonny_fisher@paypal.com
                                    </h5>
                                    <h5 class="w-l-with-left-con-a">
                                        $537,20
                                    </h5>
                                    <h5 class="w-l-with-left-con-a">
                                        Pending
                                    </h5>
                                </div>
                                <div class="w-l-with-left-con-m">
                                    <h5 class="w-l-with-left-con-a">
                                        Mar 27th,2104
                                    </h5>
                                    <h5 class="w-l-with-left-con-a">
                                        jhonny_fisher@paypal.com
                                    </h5>
                                    <h5 class="w-l-with-left-con-a">
                                        $537,20
                                    </h5>
                                    <h5 class="w-l-with-left-con-a">
                                        Pending
                                    </h5>
                                </div>
                                <div class="w-l-with-left-con-m">
                                    <h5 class="w-l-with-left-con-a">
                                        Mar 27th,2104
                                    </h5>
                                    <h5 class="w-l-with-left-con-a">
                                        jhonny_fisher@paypal.com
                                    </h5>
                                    <h5 class="w-l-with-left-con-a">
                                        $537,20
                                    </h5>
                                    <h5 class="w-l-with-left-con-a">
                                        Pending
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>