<div class="main-container">
  <div class="top-back-img">
    <div class="top-back-edit-div">
      <h6 class="top-back-edit-title">
        This is a preview of your profile!
      </h6>
      <div class="top-back-edit-icon-div">
        <span class="top-back-edit-ico">
          <i class="fas fa-edit"></i>
        </span>
        <h6 class="edit-profile-title">
          EDIT PROFILE
        </h6>
      </div>
    </div>
  </div>
  <div class="main-core-vp">
    <div class="width-control">
      <div class="seller-core">
        <div class="seller-core-left">
          <div class="seller-core-left-img-div">
            <div class="s-c-l-img-core">
              <img src="../../assets/img/leo.jpg" alt="" class="seller-core-left-img">
            </div>
          </div>
          <div class="seller-core-left-icons">
            <ul>
              <li class="s-c-left-icons-ico inactive-s-c-l-ico">
                <i class="fas fa-dollar-sign"></i>
              </li>
              <li class="s-c-left-icons-ico">
                <i class="fas fa-envelope"></i>
              </li>
              <li class="s-c-left-icons-ico">
                <i class="fas fa-user"></i>
              </li>
              <li class="s-c-left-icons-ico">
                <i class="fas fa-phone"></i>
              </li>
            </ul>
          </div>
          <div class="seller-core-left-dets">
            <ul>
              <li>
                <span class="s-c-l-dets-ico">
                  <i class="fas fa-map-marker-alt"></i>
                </span>
                <span class="s-c-l-key">
                  From : 
                </span>
                <span class="s-c-l-val">
                  United Kingdom
                </span>
              </li>
              <li>
                <span class="s-c-l-dets-ico">
                  <i class="fas fa-user"></i>
                </span>
                <span class="s-c-l-key">
                  Member Sinceng 
                </span>
                <span class="s-c-l-val">
                  January, 2016
                </span>
              </li>
              <li>
                <span class="s-c-l-dets-ico">
                  <i class="fas fa-clock"></i>
                </span>
                <span class="s-c-l-key">
                  Speaks:
                </span>
                <span class="s-c-l-val">
                  English
                </span>
              </li>
            </ul>
          </div>
        </div>
        <div class="seller-core-middle">
          <div class="s-c-m-core">
            <div class="s-c-m-top">
              <h2 class="s-c-m-c-title">
                Hey, I'm First Name
              </h2>
              <p class="s-c-m-c-p">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel veritatis consectetur tenetur delectus corrupti.
              </p>
              <p class="s-c-m-c-p">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel veritatis consectetur tenetur delectus corrupti, similique quos excepturi iusto porro voluptas ex dignissimos, accusamus architecto dolor, alias fuga facere itaque quo!
              </p>
              <span class="s-c-m-sh-m">

              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="svp">
        <h2 class="u-sub-heads">
          MY SERVICES 
        </h2>
        <div class="svp-core">
          <div class="no-gigs-div">
            <img src="../../assets/img/nogig.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
