.main-container{
  background-color: #F0F0F0;
  padding: 30px 0;
}
.set-core{
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.set-left{
  width: 23%;
}
.set-index-top{
  height: 220px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #292C2E;
  color: #fff;
  box-sizing: border-box;
}
.set-i-top-ico{
  font-size: 400%;
  margin-bottom: 10px;
}
.set-i-name{
  font-size: 120%;
  font-weight: var(--font-weight-mid);
}
.set-i-des{
  font-size: 100%;
  margin: 10px 0;
  text-align: center;
}
.set-i-email{
  font-size: 95%;
}
.set-index-index{
  background-color: #fff;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.index{
  height: 40px;
  width: 90%;
  background-color: #F2F4F6;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
  margin-bottom: 15px;
  cursor: pointer;
}
.in-left-ico{
  color: #555;
  margin-right: 8px;
}
.in-right-ico{
  color: #148543;
  font-size: 120%;
}
.set-right{
  width: 75%;
}
/* Components styles */
.set-main-container{
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #ddd;
}
.set-w-control{
  display: block;
  width: 80%;
  margin: 0 auto;
}
.title-top{
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #ddd;
}
.set-titles{
  font-weight: var(--font-weight-thick);
  font-size: 140%;
  color: #555;
}
