<app-header></app-header>
<br>
<!-- <div class="container">
    <div id="heading">
        Edit Sub-Category
      </div><br>
  <div class="form-group">
    Parent_category
  
    <select class="form-control" [(ngModel)]="selected_cat">
      <option *ngFor="let c of cat" [ngValue]="c.category_name">{{c.category_name}}</option>
    </select>
  </div>
    <div class="form-group">
        sub_category
        <input type="text" class="form-control" [(ngModel)]="sub_category_name">
      </div>
      <div class="form-group">
          seo_name
          <input type="text" class="form-control" [(ngModel)]="seo">
        </div>
        <div class="form-group">
            description
            <input type="text" class="form-control" [(ngModel)]="desc">
          </div>
          <div class="form-group">
              page_title
              <input type="text" class="form-control" [(ngModel)]="page_title_name" >
            </div>
            <div class="form-group">
                meta_description
                <input type="text" class="form-control" [(ngModel)]="meta_desc">
              </div>
              <div class="form-group">
                  meta_keywords
                  <input type="text" class="form-control" [(ngModel)]="meta_key" >
                </div>
                <span id="serr"></span>
                <a  class="btn btn-block btn-success" (click)="edit_this()">Submit</a>
                <br><br>
  </div> -->
  <div class="main-col">
      <div class="main-col-inner">
        <div id="serr">
        </div>
        <div id="message"></div>
        <div class="con-header">
          <div class="con-h">
            <h3 class="con-header-title">
             Categories Edit-Sub_Category
            </h3>
            <div class="con-header-button">
                <button class="con-button con-button-1" (click)="edit_this()">
                  <i class="fa fa-check"></i> submit</button>
              </div>
          </div>
        </div>
        <div class="group-content">
          <div class="edit-heading">
            <h6>Edit-Sub_Category</h6>
          </div>
        </div>
        <div class="form">
          <div class="form-grid">
            <div class="form-n">
              <p class="label">Parent Category</p>
              <p class="label" for="">Sub-Category Name</p>
              <p class="label" for="">SEO Name</p>
              <p class="label" for="">Description</p>
              <p class="label" for="">Page Title</p>
              <p class="label" for="">Meta Description</p>
              <p class="label" for="">Meta Keywords</p>
            </div>
            <div class="form-input">
              <div class="input">
                  <select [(ngModel)]="selected_cat">
                      <option *ngFor="let c of cat" [ngValue]="c.category_name">{{c.category_name}}</option>
                    </select>
              </div>
              <div class="input">
                  <input type="text" class="form-control" [(ngModel)]="sub_category_name">
              </div>
              <div class="input">
                  <input type="text" class="form-control" [(ngModel)]="seo">
              </div>
              <div class="input">
                  <input type="text" class="form-control" [(ngModel)]="desc">
              </div>
              <div class="input">
                  <input type="text" class="form-control" [(ngModel)]="page_title_name">
              </div>
              <div class="input">
                  <input type="text" class="form-control" [(ngModel)]="meta_desc">
              </div>
              <div class="input">
                  <input type="text" class="form-control" [(ngModel)]="meta_key">
              </div>
  
  
                
                  
            </div>
            <div class="form-hint">
              <p class="hint">[IF YOU WANT THIS TO BE A SUB-CATEGORY, SELECT A PARENT CATEGORY]</p>  
              <p class="hint">[NAME OF THE SUB-CATEGORY]</p>
              <p class="hint">[SEO NAME]</p>
              <p class="hint">[DESCRIPTION OF THE SUB-CATEGORY]</p>
              <p class="hint">[PAGE TITLE FOR THE SUB-CATEGORY]</p>
              <P class="hint">[META DESCRIPTION FOR THE SUB-CATEGORY]</P>
              <p class="hint">[META KEYWORDS FOR THE SUB-CATEGORY]	</p>
  
            </div>
          </div>
        </div>
  
      </div>
  </div>
     
  
