<app-header></app-header>
<br>
<!-- <div class="container">
  <br>
  <div id="heading">
    Edit-Admnistrator
  </div><br>
  <div class="form-group">
    UserName:
    <input type="text" class="form-control" [(ngModel)]="user_name" placeholder="Enter the name">
</div>
  <div class="form-group">
      Email-Address:
      <input type="text" class="form-control" [(ngModel)]="email" placeholder="Enter Email-Address">
  </div>
  <span id="serr"></span>
  <a (click)="edit_this()" class="btn btn-success btn-block">Sign-Up</a>
  </div> -->
  <div class="main-col">
      <div class="main-col-inner">
        <div id="serr">
        </div>
        <div id="message"></div>
        <div class="con-header">
          <div class="con-h">
            <h3 class="con-header-title">
             Members-Edit Member
            </h3>
            <div class="con-header-button">
                <button class="con-button con-button-1" (click)="edit_this()">
                  <i class="fa fa-check"></i> submit</button>
              </div>
          </div>
        </div>
        <div class="group-content">
          <div class="edit-heading">
            <h6>Edit-Member</h6>
          </div>
        </div>
        <div class="form">
          <div class="form-grid">
            <div class="form-n">
              <p class="label">Username</p>
              <p class="label" for="">Email</p>
              <p class="label">Password</p>  
            </div>
            <div class="form-input">
              <div class="input">
                  <input type="text" class="form-control" [(ngModel)]="user_name" placeholder="Enter the name">
              </div>
              <div class="input">
                  <input type="text" class="form-control" [(ngModel)]="email" placeholder="Enter Email-Address">

              </div>
              <div class="input">
                  <input type="password" class="form-control" [(ngModel)]="password" placeholder="Enter password">

              </div>
            </div>
            <div class="form-hint">
              <p class="hint">[ADMIN USERNAME]</p>  
              <p class="hint">[ADMIN E-MAIL ADDRESS]</p>
              <p class="hint">[ADMIN PASSWORD]</p>
  
            </div>
          </div>
        </div>
  
      </div>
  </div>
     
