<app-header></app-header>
<br>
<div class="main-col">
    <div class="main-col-inner">
      <div id="serr">
      </div>
      <div id="message"></div>
      <div class="con-header">
        <div class="con-h">
          <h3 class="con-header-title">
           Bans-Add Word
          </h3>
          <div class="con-header-button">
              <button class="con-button con-button-1" (click)="submit_this()">
                <i class="fa fa-check"></i> submit</button>
            </div>
        </div>
      </div>
      <div class="group-content">
        <div class="edit-heading">
          <h6>Add-Word</h6>
        </div>
      </div>
      <div class="form">
        <div class="form-grid">
          <div class="form-n">
            <p class="label">Word</p>
          </div>
          <div class="form-input">
            
            <div class="input">
                <input type="text" class="form-control" [(ngModel)]="word">
            </div>   
                
          </div>
          <div class="form-hint">
            <p class="hint">[WORD YOU WANT TO BAN]	</p>  
          </div>
        </div>
      </div>

    </div>
</div>