<!-- <div class="container-fluid">
  <ul id="nav" >
          <li>
            <a  routerLink="/home">Home</a>
          </li>
          <li class="dropd">
            <a href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             Admins
            </a>
            <ul class="dropd-menu">
              <li><a routerLink="/manage-admin">manage-admin</a></li> 
              <li><a routerLink="/create-admin">create-admin</a></li>
            </ul>
      </li>
            <li class="dropd">
                <a href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 Categories
                </a>
                <ul class="dropd-menu">
                  <li><a routerLink="/manage-categories">manage-categories</a></li> 
                  <li><a routerLink="/add-category">add a category</a></li>
                  <li><a routerLink="/add-sub_category">add a sub_category</a></li>
                  
                </ul>
          </li>
          <li >
            <a routerLink="/manage-gigs">Gigs</a>
          </li>
          <li >
            <a routerLink="/manage-orders">Orders</a>
          </li>
          <li class="dropd">
            <a href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             FeedBack
            </a>
            <ul class="dropd-menu">
              <li><a routerLink="/manage-feedback">manage-feedback</a></li> 
              <li><a routerLink="/fake-feedback">fake-feedback</a></li>
              </ul>
      </li>
      <li class="dropd">
        <a href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         Referrals
        </a>
        <ul class="dropd-menu">
          <li><a routerLink="/manage-referrals">manage-referrals</a></li> 
          <li><a routerLink="/validate-referrals">validate-referrals</a></li>
          </ul>
  </li>
          <li >
            <a  href="#">Payments</a>
          </li>
          <li >
            <a  href="#">Withdrawals</a>
          </li>
          
          <li>
            <a routerLink="/manage-custom-requests">Requests</a>
          </li>
          <li >
            <a routerLink="/manage-members">Members</a>
          </li>
          <li >
            <a  href="#">Reports</a>
          </li>
          <li>
            <a  href="#">Conversations</a>
          </li>
          
          <li >
            <a  href="#">Ads</a>
          </li>
          <li >
            <a  href="#">Bans</a>
          </li>
          <li>
            <a href="#">Files</a>
          </li>
          
          <li >
            <a href="#">Launch</a>
          </li>
          <li >
            <a  href="#">Admins</a>
          </li>
          <li >
            <a  href="#">Local Bank</a>
          </li>
        </ul>
      </div> -->
      
      
      <!-- <div class="wrapper">
       <ul class="h">
            <li>
              <a>Market Place
              </a>
              </li>
              <li class="ri">
                <a (click)="logout()" id="log">Logout</a>
              </li>
              <li class="ri">
                <a >{{date}}</a>
              </li>
              <li class="ri">
                  <a >logged in as admin</a>
                 </li>
            </ul> -->
        
    <!-- <ul>
      <li><a routerLink="/home">Home </a> |</li>
      
     
      <li class="dropdown">
        <a class="dropbtn">Categories</a>
        <div class="dropdown-content">
            <a routerLink="/manage-categories">manage-categories</a>
            <a routerLink="/add-category">add a category</a>
            <a routerLink="/add-sub_category">add a sub_category</a>
        </div>
        |
      </li>
        <li class="dropdown">
            <a routerLink="/manage-gigs">Gigs</a> |
      </li>
       <li class="dropdown">
          <a routerLink="/manage-orders">Orders</a> |
      </li>
      <li class="dropdown">
          <a routerLink="/manage-custom-requests">Requests</a> |
    </li>
    <li class="dropdown">
        <a  class="dropbtn">Memberships</a>
        <div class="dropdown-content">
            <a routerLink="/manage-members">Members</a>
       
       
        </div> |
      </li>
      <li class="dropdown">
          <a  class="dropbtn">Feedbacks</a>
          <div class="dropdown-content">
              <a routerLink="/manage-feedback">manage-feedback</a>
              <a routerLink="/fake-feedback">fake-feedback</a>
         
         
          </div> |
        </li>
        <li class="dropdown">
            <a class="dropbtn">Admins</a>
            <div class="dropdown-content">
                <a routerLink="/manage-admin">manage-admin</a>
                <a routerLink="/create-admin">create-admin</a>
            </div>|
          </li>
        <li class="dropdown">
            <a class="dropbtn">Referrals</a>
            <div class="dropdown-content">
                <a routerLink="/manage-referrals">manage-referrals</a> 
                <a routerLink="/validate-referrals">validate-referrals</a>
            </div> |
          </li>
       <li class="dropdown">
        <a class="dropbtn">Payments</a>
        <div class="dropdown-content">
          <a href="#">Manage payments</a>
          <a href="#">Feature Gigs payments</a>
          <a href="#">Clear payments</a>
       
        </div> |
      </li>
       <li class="dropdown">
        <a  class="dropbtn">Withdrawals</a>
        <div class="dropdown-content">
          <a href="#">Validate withdrawals</a>
       
       
        </div> |
      </li>
      
        
             <li class="dropdown">
        <a  class="dropbtn">Reports</a>
        <div class="dropdown-content">
          <a href="#">reported Messages</a>

       
       
        </div> |
      </li>
              <li class="dropdown">
        <a  class="dropbtn">Conversations</a>
        <div class="dropdown-content">
          <a href="#">Manage Conversations</a>
    
       
       
        </div> |
      </li>
        
       
      
           <li class="dropdown">
        <a  class="dropbtn">Bans</a>
        <div class="dropdown-content">
          <a href="#">Manage Conversations</a>
   
       
       
        </div> |
      </li>
           <li class="dropdown">
        <a  class="dropbtn">Files</a>
        <div class="dropdown-content">
          <a href="#">Manage Conversations</a>
       
       
        </div> |
      </li>
          
        
        
    </ul>
    </div> -->
    <div class="navigation">
      <div class="tit">
        <p class="hea" routerLink="/home">Market Place</p>
        <p class="info">Logged in as admin</p>
        <p class="info">{{date}}</p>
        <p class="info" (click)="logout()"> <span class="info1">logout</span> </p>
      </div>
      <div class="nav">
      <ul>
        <li routerLink="/home" class="icon">Home</li>
        <li class="drop"> <a class="d-name">Categories</a> 
          <div class="dropdown">
            <div class="dd-core">
              <p class="item" routerLink="/manage-categories">Manage-Categories</p>
              <p class="item" routerLink="/add-category">Add-Category</p>
              <p class="item"routerLink="/add-sub_category" >Add-Sub Category</p>
            </div>
          </div>
        </li>
        <li class="drop"> <a class="d-name">Gigs</a> 
          
          <div class="dropdown">
              <div class="dd-core">
            <p class="item" routerLink="/manage-gigs">Manage-Gigs</p>
          </div>
          </div>
        </li>
        <li class="drop"> <a class="d-name">Orders</a> 
          
          <div class="dropdown">
              <div class="dd-core">
            <p class="item"routerLink="/manage-orders">Manage-Orders</p>
          </div>
          </div>
        </li>
        <li class="drop"> <a class="d-name">Requests</a> 
          <div class="dropdown">
          <div class="dd-core">
            <p class="item"routerLink="/manage-custom-requests">Manage-Requests</p>
          </div>
          </div>
        </li>
        <li class="drop"> <a class="d-name">Members</a> 
          <div class="dropdown">
          <div class="dd-core">
            <p class="item" routerLink="/manage-members">Manage-Members</p>
          </div>
          </div>
        </li>
        <li class="drop"> <a class="d-name">Admins</a> 
          <div class="dropdown">
          <div class="dd-core">
            <p class="item" routerLink="/manage-admin">Manage-Admins</p>
            <p class="item"routerLink="/create-admin">Create-Admin</p>
          </div>
          </div>
        </li>
        <li class="drop"> <a class="d-name">Feedbacks</a> 
          <div class="dropdown">
          <div class="dd-core">
            <p class="item" routerLink="/manage-feedback">Manage-Feedbacks</p>
            <p class="item" routerLink="/fake-feedback">Fake-Feedback</p>
          </div>
          </div>
        </li>
        <li class="drop"> <a class="d-name">Files</a> 
          <div class="dropdown">
          <div class="dd-core">
            <p class="item"routerLink="/gig-files">Gig-Files</p>
            <p class="item"routerLink="/user-files">User-Files</p>
            <p class="item"routerLink="/order-files">Order-Files</p>
            <p class="item"routerLink="/conversation-files">Conversation-Files</p>
          </div>
          </div>
        </li>
        <li class="drop"> <a class="d-name">Conversations</a> 
          
          <div class="dropdown">
              <div class="dd-core">
            <p class="item" routerLink="/manage-conv">Manage-Conversations</p>
          </div>
          </div>
        </li>
        <li class="drop"> <a class="d-name">Bans</a> 
          <div class="dropdown">
          <div class="dd-core">
              <p class="item"routerLink="/banned-words">Banned Words</p>
            <p class="item"routerLink="/add-bwords">Add Word</p>
          </div>
          </div>
        </li>
        <li>Reports</li>       
      </ul>
    </div>
    </div>
    