
    <div class="main-screen">
      <div class="container width-control">
       <div class="row">
           <div class="col-lg-12">
              <div class="main-title">
                  <h2>Whoops!</h2>
               </div>
               <div class="row">
                <div class="col-lg-12">
              <div class="main-title-content">
               <p>Session Expired</p>
               </div>
           </div>
       </div>
       <div class="row">
                <div class="col-lg-12">
              <div class="main-content">
               <p>There was a problem when trying to access your account.<br></p>
                <p>Please try to sign in again,if the problem presists please  clear your browser cache and<br>
                   cookies. If the problem still persists, please contact at <b>support@crowdcontact.com.</b>
               </p>
               </div>
           </div>
       </div>
        <div class="row">
                <div class="col-lg-12">
              <div class="icon">
                  <a href="#"><i class="fa fa-chevron-circle-left"></i></a>
               </div>
           </div>
       </div>
        </div>
      </div>
      </div>
      </div>