<app-header></app-header>
<br>
<!-- <div class="container">
  <br>
  <div id="heading">
    Reviews

  </div>
<table class="table table-hover">
    <thead>
      <tr>
        <th>Id</th>
        <th>UserName</th>
        <th>Gig_Title</th>
        <th>Comment</th>
        <th>Rating</th>
        <td>Action</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let r of reviews" >
        <td>{{r._id}}</td>
     <td>{{r.buyer.name}}</td>
     <td>{{r.gig.title}}</td>
     <td>{{r.review}}</td>
     <td>{{r.score}}</td>
<td><a (click)="delete_this(r)"> <p id="del">Delete</p> </a></td>
      </tr>
    </tbody>
  </table>
</div> -->
<div class="main-col">
    <div class="main-col-inner">
      <div id="serr"></div>
      <div class="con-header">
        <div class="con-h">
          <h3 class="con-header-title">
           Feedback - Manage Feedbacks
          </h3>
        </div>
      </div>
      <div class="group-content">
        <div class="edit-heading">
          <h6>Manage-Feedbacks</h6>
        </div>
      </div>
      <div class="grid">
        <table cellspacing="0">
          <thead>
            <tr>
              <th class="id">ID</th>
              <th class="name">Username</th>
              <th class="pcat">Gig_title</th>
              <th class="comment">Comment</th>
              <th class="rati">Rating</th>
              <th class="action">Action</th>
            </tr>
          </thead>
          <tbody *ngFor="let r of reviews let i = index">
            <tr class="s">
              <td>
                {{i+1}}
              </td>
              <td>
            {{r.buyer.name}}
              </td>
              <td>
                {{r.gig.title}}
              </td>
              <td>{{r.review}}</td>
              <td>{{r.score}}</td>
              <td><a (click)="delete_this(r)"> <p id="del">Delete</p> </a></td>

            </tr>
          </tbody>

        </table>
      </div>

    </div>
  </div>
